 body {
     font-family: Arial, sans-serif;
     margin: 0;
     height: 100vh;
     display: flex;
     /* Define o corpo como Flex Container */
     flex-direction: column;
     /* Empilha Header, Main e Footer verticalmente */
 }

 header,
 footer {
     background-color: #1d53af;
     color: white;
     text-align: center;
     padding: 10px 0;
 }

 header {
     height: 15vh;
     /* 15% da altura da tela */
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 header h1 {
     margin-bottom: 5px;
 }

 footer {
     height: 10vh;
     /* 10% da altura da tela */
     display: flex;
     flex-direction: column;
     justify-content: center;
     font-size: 0.9em;
 }

 main {
     height: 75vh;
     /* Ocupa o restante da altura da tela (100 - 15 - 10 = 75) */
     display: flex;
     /* Define o main como Flex Container */
     flex-direction: row;
     /* Alinha Menu, Conteúdo e Sidebar horizontalmente */
 }

 /* Menu (NAV) */
 nav.area-menu {
     width: 20%;
     background-color: #879bda;
     border-right: 1px solid #879bda;
     padding: 0;
 }

 /* Conteúdo Principal (SECTION) */
 section.area-conteudo-principal {
     width: 65%;
     /* 65% do centro */
     background-color: #5d79d0;
 }

 /* Barra Lateral (ASIDE) */
 aside.area-sidebar {
     width: 15%;
     /* 15% da lateral */
     background-color: #879bda;
     border-left: 1px solid #879bda;
     padding: 10px;
     box-sizing: border-box;
     font-size: 0.9em;
 }

 /* Estilos de Iframe */
 iframe {
     width: 100%;
     height: 100%;
     border: none;
 }

 /* Estilos para o menu.html */
 .menu-principal {
     list-style: none;
     padding: 0;
     margin: 0;
 }

 .menu-principal a {
     text-decoration: none;
     color: #e8e8ee;
     display: block;
     padding: 10px;
     border-bottom: 1px solid #e8e9f0;
 }

 .menu-principal a:hover {
     background-color: #6a71d5;
 }

 a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    display: block;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

a:hover {
    background-color: #4a90e2;
    color: #ffffff;
    transform: translateX(5px);
}